/* Color

    frente y fondo

*/

body {
    background-color: black;
    color: pink;
}

h1 {
    border: 1px solid;
    box-shadow: 5px 5px 5px 5px currentColor;
}

p{
    color: lime;
}

a{
    color: currentColor;
}

/*  Color keywords

    palabras clave definidos como: red, purple, white, black, etc. son la forma mas facil de poner colores pero no es la mejor forma.

    El color rebeccapurple tiene una historia conmovedora

*/

body{
    background-color: rebeccapurple;
}